
.gallery-title
{
    font-size: 3px;
    color: #b2b2b2;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 12px;
    border: 0px solid #77787a;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
    font-family: avenir;

}
.filter-button:hover
{
    font-size: 12px;
    border: 0px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #b2b2b2;

}
.btn-default:active .filter-button:active
{
    background-color: #b2b2b2;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 10px;
    border: 0px solid #adafb2;
    border-radius: 10px;
    border-spacing: 5px;

}
